{% extends 'base.html' %}
{% load i18n %}

{% block main_content %}
    <h2>{% trans 'Contact' %}</h2>
    
    {% block inner_contact %}
    <div class="form">
        <p>{% trans 'Please, use the bellow form to contact me' %}:</p>
    
        <form method="post" action=".">
            {% csrf_token %}
        
            {{ form.as_p }}
            <p class="button">
                <input type="submit" value="{% trans 'Send' %}" name="send" />
            </p>
        
        </form>
    </div>
    {% endblock %}
    
{% endblock %}
