<!DOCTYPE HTML>
<html>
<head>
    <title>Heigler Rocha Developer</title>
    <link href="/media/style/base.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="heigler,heigler rocha,developer,django,mysql,python,php,javascript,css,jquery,mmorpg,games,game developer" />
</head>

<body>
    <div class="container">
        <div id="header">
            <p class="left">
                Heigler Rocha
            </p>
            
            <div class="right">
                <p class="flags">
                    <a href="#" class="en on"></a>
                    <a href="#" class="br"></a>
                </p>
                
                <p class="quote">
                    <blockquote>
                        teste bla bla oi mundo bla bla
                    </blockquote>
                </p>
                               
            </div>
            
            <p class="navmenu">
                <a href="#">
                    About
                </a>
                <em>vertical divisor</em>
                <a href="#">
                    Works
                </a>
                <em>vertical divisor</em>
                <a href="#">
                    Contacts
                </a>
            </p>
                    
        </div>          
    </div>
    
    <div id="navigator">
        <ul>
        
        </ul>
    </div>
    
    <div class="container">
        <div id="content">
            content comes here
        </div>
    </div>

    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript" src="/media/js/base.js"></script>
</body>

</html>


