{% load core_tags %}
{% load i18n core_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Heigler Rocha Developer</title>
    <link href="/media/style/base.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="heigler,heigler rocha,developer,django,mysql,python,php,javascript,css,jquery,mmorpg,games,game developer" />
</head>

<body>
    {% get_current_language as CUR_LANG %}
    <div class="container">
        <div id="header">
            <h1>
                <a href="/">
                    Heigler Rocha
                </a>
            </h1>
            
            <div>
                <p class="flags">
                    <a href="#" class="en {% if CUR_LANG == 'en-us' %}on{% endif %}" title="English"></a>
                    <a href="#" class="br {% if CUR_LANG == 'pt_BR' %}on{% endif %}" title="Português"></a>
                </p>
                
                {% include 'quote.html' %}
                               
            </div>
            
            {% include 'navmenu.html' %}
                    
        </div>          
    </div>
    
    <div id="navigator">
        {% work_list %}
    </div>
    
    <div class="container">
        <div id="content">
                    
            <div class="main">
                {% block main_content %}{% render_presentation CUR_LANG 'home' %}{% endblock %}                                            
            </div>
            
            <div class="tools">
                {% socialnetwork_list %}                
            </div>            
            
        </div>
        
        <p id="footer">
            Heigler Rocha - 2010
        </p>
    </div>

    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript" src="/media/js/base.js"></script>
</body>

</html>


