<!DOCTYPE HTML>
<html>
<head>
    <title>Heigler Rocha Developer</title>
    <link href="/media/style/base.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="heigler,heigler rocha,developer,django,mysql,python,php,javascript,css,jquery,mmorpg,games,game developer" />
</head>

<body>
    <div class="container">
        <div id="header">
            <h1>
                <a href="/">
                    Heigler Rocha
                </a>
            </h1>
            
            <div>
                <p class="flags">
                    <a href="#" class="en on" title="English"></a>
                    <a href="#" class="br" title="Português"></a>
                </p>
                
                <p class="quote">
                    "teste bla bla oi mundo bla bla"
                </p>
                               
            </div>
            
            <p class="navmenu">
                <a href="#">
                    About
                </a>
                <em>vertical divisor</em>
                <a href="#">
                    Works
                </a>
                <em>vertical divisor</em>
                <a href="#">
                    Contact
                </a>
            </p>
                    
        </div>          
    </div>
    
    <div id="navigator">
        <ul>
            <li class="arrow left">
                <a href="#"></a>
            </li>
            <li>
                <a href="#">
                    <img src="/media/style/work_dromatelius.jpg" alt="Dromatelius" />
                    Dromatelius
                </a>
            </li>         
            <li>
                <a href="#">
                    <img src="/media/style/work_dromatelius.jpg" alt="Dromatelius" />
                    Paraná Online
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/media/style/work_dromatelius.jpg" alt="Dromatelius" />
                    Mega Mídia Group
                </a>
            </li>
            <li class="arrow right">
                <a href="#"></a>
            </li>
        </ul>
    </div>
    
    <div class="container">
        <div id="content">
                    
            <div class="main">
                <h2>Some title</h2>
                <p>
                    So I created a Brander class which would turn arguments into an appropriate path and added some new routes such as “brand/:type/:color/logo.png” and created a call to brander in the controller’s “brand” action that ends with a redirect to the returned URL. <br />

                    It’s all really simple, but it allows me to have a url like http://johnmetta.com/brand/icon/logo.png and supply my logo, and http://johnmetta.com/brand/stacked/blue/logo.png for a one-color blue stacked logo. Then, if I update the colors (move the files, whatever) they update automatically. At a maximum, I just check in the changes and make minimal changes to the routes- but don’t have to copy files to servers. <br />
                    More content bla bla bla <br />
                    Ops one more, lets see haha ha Ops one more, lets see haha haOps one more, lets see haha ha Ops one more, lets see haha haOps one more, lets see haha ha Ops one more, lets see haha ha 
                    
                </p>
                <p class="content-divisor">content divisor</p>                               
            </div>
            
            <div class="tools">
                <h2>Social Network</h2>
                <ul>
                    <li>
                        <a href="#">
                            <img src="/media/style/facebook.jpg" alt="facebook" /> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/media/style/orkut.jpg" alt="orkut" /> Orkut
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/media/style/twitter.jpg" alt="twitter" /> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/media/style/github.png" alt="git hub" /> GitHub
                        </a>
                    </li>                
                </ul>
                <p class="tool-divisor">tool divisor</p>
                
            </div>            
            
        </div>
        
        <p id="footer">
            Heigler Rocha - 2010
        </p>
    </div>

    <script type="text/javascript" src="/media/js/j.js"></script>
    <script type="text/javascript" src="/media/js/base.js"></script>
</body>

</html>


