*{
    list-style: none;
    font-family: Verdana;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body{
    background: #20272E url('bg.jpg') no-repeat top center;
}

.container{
    width: 980px;
    text-align: center;
    margin: 0 auto;
}
#navigator{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
    #navigator ul{
        float: left;
        width: 100%;
        height: 149px;
    }

/* header */    
#header{
    width: 980px;
    height: 151px;
    float: left;
}
    #header p.left{
        float: left;
        background: url('logo.png') no-repeat top center;
        width: 298px;
        height: 63px;
        text-indent: -9999px;
        margin: 10px 0 0 179.5px;
    }
    #header div.right{
        float: right;
        height: 68px;
        width: 315px;
        margin: 5px 180px 0 0;
    }
        #header div.right p.flags{
            width: 315px;
            text-align: right;
        }
            #header div.right p.flags a{
                display: inline-block;
                width: 27px;
                height: 26px;
            }
            #header div.right p.flags a.br{
                background: url('flag_br.png') no-repeat top center;
            }
            #header div.right p.flags a.en{
                background: url('flag_en.png') no-repeat top center;
            }
            #header div.right p.flags a.en.on{
                background: url('flag_en_on.png') no-repeat top center;
            }
            #header div.right p.flags a.br.on{
                background: url('flag_br_on.png') no-repeat top center;
            }
                #header div.right p.flags a.br:hover{
                    background: url('flag_br_on.png') no-repeat top center;
                }
                #header div.right p.flags a.en:hover{
                    background: url('flag_en_on.png') no-repeat top center;
                }
        #header div.right p.quote{
            width: 315px;
            font-size: 12px;
            color: #6C86AC;
            height: 40px;
        }

            
    #header p.navmenu{
        clear: both;
        float: left;
        width: 621px;
        height: 51px;
        background: url('navmenu_bg.png') no-repeat top center;
        margin: 6px 0 0 179.5px;
        padding-top: 20px;
    }
        #header p.navmenu a{
            display: block;
            width: 205px;
            height: 33px;
            text-align: center;
            float: left;
            padding-top: 17px;
            font-size: 16px;
            color: #ABBAC5;
            text-decoration: none;      
        }
            #header p.navmenu a:hover{
                color: #FFCC00;
            }
        #header p.navmenu em{
            display: block;
            float: left;
            width: 2px;
            height: 35px;
            background: url('menu_divisor.png') no-repeat top center;
            margin-top: 10px;
            text-indent: -99999px;
        }


#content{
    width: 980px;
    float: left;
    background: #060A0E;
    min-height: 300px;
}
